wheel
numpy
ipython
shortuuid
astropy
matplotlib
scikit-image
scikit-learn
transformers
git+https://github.com/huggingface/transformers@21fac7abba2a37fae86106f87fcf9974fd1e3830
torch
torchvision
bitsandbytes
accelerate
flash-attn --install-option='--no-build-isolation'
qwen-vl-utils
auto-gptq
